body {
    background-color: green;
}
/*dbsgngng*/
    h1{
        color: rebeccapurple;
    }
    h3{
        color: rebeccapurple;
    }
    h5{
        color: rebeccapurple;
    }
    .wrapper {
        display: flex;
        align-items: center;
    }
    